@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: rgb(239, 96, 237);
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    padding: 0px 25px;
}

nav ul {
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 20px 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

nav ul li a:hover {
    color: black;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 25vw;
    height: 19px;
    border-radius: 4px;
    margin: 0 8px 0 40px;
}

.container {
    min-height:calc(100vh - 6vh - 5vh)
}

footer {
    height: 5vh;
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

/* .section{
    margin: 0;
    padding: 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slider {
    height: 40vh;
    width: 100vw;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 40vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100vw;
    height: 40vh;
}

/* manual slide navigation */
.navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/* automatic slide navigation */
.navigation-auto {
    position: absolute;
    width: 100vw;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
    justify-content: center;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}

.card1{
    max-width: 97vw;
    margin: 12px auto;
    background-color: rgb(255, 127, 219);
}
.card1 h3{
    margin: 10px 22px;
    font-family: 'Noto Sans', sans-serif;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 84px;
}
.cardset{
    display: flex;
    justify-content: center;
}
.card2{
    max-width: 97vw;
    margin: 12px auto;
    background-color: rgb(127, 178, 255);
}
.card2 h3{
    margin: 10px 22px;
    font-family: 'Noto Sans', sans-serif;
}


